# WEB / API
django
django-filter
djangorestframework
djangorestframework-simplejwt
django-cors-headers
drf-spectacular

# Database
django-tenants
psycopg[binary]

# Excel creation
openpyxl
drf-excel
beautifulsoup4
xlrd

#Emails
certifi

# Environment
python-dotenv

# Image handling
Pillow

# Utils
django-debug-toolbar
setuptools
python-dateutil
